.chart-form-controls {
    margin-top: 30px;
}

.chart-form-controls button {
    min-width: 150px;
}

.remote-videos {
    margin-top: 50px;
}

#local-image,
#local-video {
    width: 100%;
}

#local-video {
    display: none;
}

.chat-content {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
}

#chat-content {
    height: 200px;
    overflow: auto;
}

.margin-right {
    margin-right: 8px;
}

.margin-top {
    margin-top: 8px;
}

.margin-bottom {
    margin-bottom: 8px;
}